.App {
   text-align: center;
   background: no-repeat center center fixed;
   background-image: url("../images/dh_DM_mobile2.jpg") !important;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

@media (min-width: 980px) {
   .App {
      text-align: center;
      background: no-repeat center 75% fixed;
      background-image: url("../images/dh_DM.jpg") !important;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
   }
}

@media (min-width: 1080px) {
   .App {
      text-align: center;
      background: no-repeat center 64% fixed;
      background-image: url("../images/dh_DM.jpg") !important;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
   }
}

@media (min-width: 1280px) {
   .App {
      text-align: center;
      background: no-repeat center 52% fixed;
      background-image: url("../images/dh_DM.jpg") !important;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
   }
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}

.App-header {
   /* background-color: #282c34; */
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

.footer {
   bottom: 0;
   width: 100%;
   padding: 0.75rem;
   background-image: linear-gradient(to left, rgb(251, 147, 190), rgb(233, 239, 237)) !important;
}

/* @keyframes App-logo-spin {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
 } */