@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}

.ttttt {
   text-align: center;
   background: no-repeat center right fixed;
   background-image: url("./images/iphiria_map.jpg") !important;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

@media (min-width: 767px) {
   .ttttt {
      text-align: center;
      background: no-repeat center fixed;
      background-image: url("./images/iphiria_map.jpg") !important;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
   }
}

.App-link {
   color: #61dafb;
}

html {
   scroll-behavior: smooth;
}

body {
   margin: 0;
   padding: 0;
   height: 100vh;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}